{% extends "base.html" %}
{% load static %}

{%block content%}

<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active"><b>About</b> </li>
            </ul>
        </div>
    </div>
</div>
<br>

<div class="welcome-area pt-100 pb-95">
    <div class="container">
        <div class="welcome-content text-center">
            <h5>Who Are We</h5>
            <h1>Welcome To SajiloBook</h1>
            <p>SajiloBook is an online platform or classified markets where you can buy and sell old books, text books. We don't charge any commission to seller wants to sell their old books to any other customers through our website.</p>
        </div>
    </div>
</div>
<div class="about-mission-area pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="single-mission mb-30">
                    <h3>Our vission</h3>
                    <p>mission here
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single-mission mb-30">
                    <h3>Our mission </h3>
                    <p>here</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single-mission mb-30">
                    <h3>Our goal</h3>
                    <p>here</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="funfact-area bg-gray-3 pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-count text-center mb-30">
                    <div class="count-icon">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                    </div>
                    <h2 class="count">360</h2>
                    <span>Delevries</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-count text-center mb-30">
                    <div class="count-icon">
                        <i class="fa fa-book" aria-hidden="true"></i>
                    </div>
                    <h2 class="count">420</h2>
                    <span>Books</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-count text-center mb-30 mrgn-none">
                    <div class="count-icon">
                        <i class="pe-7s-smile"></i>
                    </div>
                    <h2 class="count">100</h2>
                    <span>happy clients</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="team-area pt-95 pb-70">
    <div class="container">
        <div class="section-title-2 text-center mb-60">
            <h2>Team Members</h2>
            <p>Meet our team member</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-4 container justify-content-center">
                <div class="team-wrapper mb-30">
                    <div class="team-img">
                        <a href="#">
                            <img src="../assets/img/team/ashim.jpg" alt="">
                        </a>
                        <div class="team-action">
                            <a class="facebook" href="facebook.com/ashim.mainali.3">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a class="twitter" href="https://twitter.com/AshimMainali">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="instagram" href="https://www.instagram.com/ashim_sharma_mainali/">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="team-content text-center">
                        <h4>Ashim Mainali</h4>
                        <span>CEO</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
