{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active"><b>Contact</b> </li>
            </ul>
        </div>
    </div>
</div>
<br>

{% if messages %}
  {% for m in messages %}
    <div style="text-align:center;" class="alert alert-{{m.tags}}">
      {{m}}
    </div>
  {% endfor %}
{% endif %}

<div class="contact-area pt-100 pb-100">
    <div class="container">
        <div class="custom-row-2">
            <div class="col-lg-4 col-md-5">
                <div class="contact-info-wrap">
                    <div class="single-contact-info">
                        <div class="contact-icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="contact-info-dec">
                            <p>+977 9861311262</p>
                            <p>+977 9813504420</p>
                        </div>
                    </div>
                    <div class="single-contact-info">
                        <div class="contact-icon">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="contact-info-dec">
                            <p><a href="#">hello@sajilobook.com</a></p>
                        </div>
                    </div>
                    <div class="single-contact-info">
                        <div class="contact-icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="contact-info-dec">
                            <p>Kathmandu </p>
                            <p>Bagmati, Nepal</p>
                        </div>
                    </div>
                    <div class="contact-social text-center">
                        <h3>Follow Us</h3>
                        <ul>
                            <li><a href="https://www.facebook.com/SajiloBook/"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/sajilobook/"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="contact-form">
                    <div class="contact-title mb-30">
                        <h2>Get In Touch</h2>
                    </div>
                    <form class="contact-form-style" id="contact-form" method="post">
                      {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6">
                                <input name="name" placeholder="Name*" type="text" required>
                            </div>
                            <div class="col-lg-6">
                                <input name="email" placeholder="Email*" type="email" required>
                            </div>
                            <div class="col-lg-12">
                                <input name="subject" placeholder="Subject*" type="text" required>
                            </div>
                            <div class="col-lg-12">
                                <textarea name="message" placeholder="Your Message*" required></textarea>
                                <button class="submit" type="submit">SEND</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
